.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 60px;
  border: 2px solid #808080;
  border-radius: 8px;
  gap: 5px;
  margin-bottom: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.formWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  margin-bottom: 40px;
}

.formSpan {
  line-height: 0;
  color: #808080;
  font-size: 30px;
}

.contacthForm {
  height: 25px;
  width: 200px;
  border: 2px solid #808080;
  border-radius: 5px;
  background-color: transparent;
  padding: 2px 5px;
  color: black;
  font-size: 18px;
  outline: none;

  &:focus {
    border-color: #e70fb1;
  }

  &::placeholder {
    color: #bebebe
  }
}

.formErrorMessage {
  display: block;
  position: absolute;
  bottom: -25px;
  left: 30px;
  color: #e70fb1;
  text-align: center;
  font-size: 14px;
}

.submitBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  background-color: transparent;
  border: 1px solid #808080;
  border-radius: 8px;
  height: 40px;
  margin: 0 auto;
  min-width: 100px;
  font-size: 18px;
  color: #808080;
  transition: border-color 250ms linear, color 250ms linear;
  cursor: pointer;

  &:hover {
    border-color: #e70fb1;
    color: black;
  }
}