.footer {
    display: flex;
    flex-direction: column;
    min-width: 1440px;
    border-top: 1px solid #808080;
    padding: 20px 10px;
}

.content {
    display: flex;
    justify-content: space-between;
}



.description {
    max-width: 116px;
}




.footerSubTitle {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.contactsList {
    display: flex;
    justify-content: space-around;

}

.contactsLink {
    font-size: 30px;
    transition: color 250ms linear;

    &:hover {
        color: #e70fb1;
    }
}

.sourceLink {
    text-align: center;
}

.sourceCode {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.privacyPolicy {
    color: #d4d3d3;
    margin: 0 auto;
}