:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #434455;
  background-color: #ffffff;
}

.container {
  max-width: 100vh;
  margin: 0 auto;
}

.section {
  padding: 30px 20px;
}


.mainTitle {
  position: relative;
  font-size: 70px;
  text-align: center;
}

.heroDescr {
  max-width: 445px;
  margin: 0 auto;
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.accentHeroDescr {
  color: #e70fb1;
}

.heroLinksWrapper {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.heroLink {
  min-width: 70px;
  padding: 8px;
  border: 1px solid white;
  border-radius: 8px;

  transition: border 250ms linear;

  &:hover {
    border: 1px solid #e70fb1;
  }
}



.sectionWrapper {
  display: flex;
  padding: 20px 20px;
  gap: 10px;
}

.aboutSection {
  max-width: 65%;
  padding: 40px 20px;
  background-color: #e5e6f5;
  color: #242424;
  border-radius: 20px;
}

.featuresSection {
  padding: 20px;
  background-color: #e5e6f5;
  border-radius: 20px;
  color: #242424;
}

.sectionTitle {
  text-align: center;
  margin-bottom: 10px;
}

.technologiesList {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.technologiesListItem {
  display: flex;
  min-width: 110px;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  border: 1px solid #e70fb1;
  border-radius: 8px;
  color: #808080;
}